<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Details Template</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li>
        <li th:if="${user.email == null}" th:text="${'no tiene email'}"></li>
    </ul>
    <a th:href="@{/api/list}">Ver detalles</a> <br>
    <a th:href="@{'/api/params/foo?message=' +${title}}">Foo</a><br>
    <a th:href="@{/api/params/foo(message='Mensajes')}">Foo</a><br>
    <a th:href="@{/api/params/bar(text='Mensajes',code=1234123)}">Bar</a><br>
    <a th:href="@{'/api/var/baz/'+${title}}">Baz variable</a><br>
</body>
</html>