<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <H1 th:text="${title}"></H1>
    <div th:if = "${users.isEmpty()}" th:text="${'No tiene elementos usuarios!!!'}"></div>
    <table th:if = "${!users.isEmpty()}">
        <thead>
            <tr>
                <th>name</th>
                <th>apellido</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <th th:text = "${user.name}"></th>
                <th th:text = "${user.lastName}"></th>
                <th th:if="${user.email}" th:text = "${user.email}"></th>
                <th th:if="${user.email==null}" th:text = "${'n/a'}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>